
.breakpoints
poetry.lock
pyproject.toml
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
log.txt
.env
*.pyc
__pycache__/
scratch.ipynb
data/database.db 
data/iteration_results.json
data/validation_history.json
.DS_Store
